PORT=3000
ML_URL=http://127.0.0.1:8001  # cambia a esta URL si tu modelo de ML está alojado en otro lugar
DB_SERVER=localhost
DB_NAME=AgriFlowDB_example
DB_DRIVER=msnodesqlv8 
DB_INSTANCE=SQLEXPRESS 
DB_TRUSTED_CONNECTION=true
DB_TRUST_SERVER_CERT=true 
DB_ENCRYPT=false
